# macOS
.DS_Store

# Python / Flask
__pycache__/
*.py[cod]
*.egg-info/
*.log
instance/
uploads/
testenv/
.venv/
venv/
.env
.env.*
.env_template.txt

# Editor / IDE
.vscode/
.idea/
.cursor/

# System
Thumbs.db
*.sqlite
*.sqlite-journal

# Backups / Exports
backups/
exports/
logs/
