<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Secure Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth_styles.css') }}">
  </head>
  <body>
    <main class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flash">
            {% for category, message in messages %}
              <li class="flash-{{category}}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>
  </body>
</html>

